@mixin font-face($font-family, $src, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;

    @each $format, $url in $src {
      src: url($url) format($format);
    }
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin primary-font(
  $font-family: var(--ff-primary),
  $font-size: 14px,
  $line-height: 18px,
  $font-weight: 400,
  $color: var(--clr-special-dark-grey),
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin secondary-font(
  $font-family: var(--ff-secondary),
  $font-weight: 400,
  $color: var(--clr-black),
  $text-transform: uppercase,
) {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color;
  text-transform: $text-transform;
}

@mixin reset-list {
  padding: 0;
  list-style-type: none;
}
