$primary-font: "Lato";
$secondary-font: "Oswald";

$ff-primary: $primary-font, sans-serif;
$ff-secondary: $secondary-font, sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$padding-mobile-breakpoint: 20px;
$padding-tablet-breakpoint: 30px;
$padding-desktop-breakpoint: 110px;

$padding-mobile: clamp(20px, calc(12.86px + 2.23vw), 30px);
$padding-tablet: clamp($padding-tablet-breakpoint, calc(13vw - 70px), $padding-desktop-breakpoint);
$padding-desktop: calc(50vw - $desktop-width / 2 + $padding-desktop-breakpoint);

$rgb-comps-basic-green: 104, 183, 56;
$clr-basic-green: #68b738;
$clr-basic-green-2: #5eaa2f;
$clr-basic-grey: #f2f2f2;
$clr-special-grey: #cdcdcd;
$clr-special-grey-2: #666666;
$clr-special-grey-3: #ebebeb;
$clr-special-dark-grey: #444444;
$clr-special-dark-grey-2: #222222;
$clr-status-error: #ff8282;
$clr-black: #000000;
$clr-white: #ffffff;
