$primary-font: "Lato";
$secondary-font: "Oswald";

$ff-primary: $primary-font, sans-serif;
$ff-secondary: $secondary-font, sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$padding-mobile: clamp(20px, 5vw, 30px);
$padding-tablet: 30px;

$rgb-comps-basic-green: 104, 183, 56;
$clr-basic-green: #68b738;
$clr-basic-green-2: #5eaa2f;
$clr-basic-grey: #f2f2f2;
$clr-special-dark-grey: #444444;
$clr-special-dark-grey-2: #222222;
$clr-black: #000000;
$clr-white: #ffffff;
