@use "../common/mixins.scss";
@use "../common/variables.scss";

.button {
  display: block;
  padding: 10px;

  @include mixins.secondary-font(
    $color: var(--clr-white, #{variables.$clr-white})
  );
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;

  border: 0;
  background-color: var(--clr-basic-green, #{variables.$clr-basic-green});
}

.button--adaptive {
  padding: clamp(10px, 2vw, 14px);
  font-size: clamp(16px, 3vw, 20px);
  line-height: clamp(20px, 4vw, 26px);
}

.button--large {
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
}

.button--secondary {
  color: var(--clr-special-dark-grey, #{variables.$clr-special-dark-grey});
  background-color: var(--clr-basic-grey, #{variables.$clr-basic-grey});
}
