@use "../common/mixins.scss";
@use "../common/variables.scss";

.contacts {
  background-color: var(--clr-basic-grey, #{variables.$clr-basic-grey});
}

.contacts--alt {
  background-color: initial;
}

.contacts__text {
  display: grid;
  grid-template-columns:
    clamp(0px, calc(-28.57px + 8.93vw), 40px)
    [welcome] clamp(140px, calc(123.57px + 5.13vw), 163px)
    1fr
    [address] clamp(140px, calc(127.86px + 3.8vw), 157px)
    clamp(0px, calc(-28.57px + 8.93vw), 40px);
  padding-block: clamp(26px, calc(1.71px + 7.59vw), 60px);
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});

  @include mixins.primary-font(
    $line-height: 20px,
  );
}

.contacts__welcome {
  grid-column: welcome;
  margin: 0;

  @include mixins.secondary-font;
  font-size: clamp(16px, calc(13.14px + 0.89vw), 20px);
  line-height: clamp(20px, calc(15.71px + 1.34vw), 26px);
}

.contacts__address-wrapper {
  grid-column: address;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  margin: 0;

  font-style: normal;
  font-size: clamp(14px, calc(12.57px + 0.45vw), 16px);
}

.contacts__city {
  margin-block-start: clamp(0px, calc(-14.29px + 4.46vw), 20px);
}

.contacts__map {
  position: relative;
  min-block-size: 362px;
}

.contacts__map-container {
  position: absolute;
  inset: 0;
}

.contacts__map-image-container {
  position: absolute;
  inset: 0;
}

.contacts__map-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.contacts__map-pin {
  position: relative;

  inline-size: 1px;
  block-size: 1px;

  &::before {
    content: "";

    position: absolute;
    inset-block-start: -53px;
    inset-inline-start: -26px;

    display: block;
    inline-size: 57px;
    block-size: 53px;

    background-image:
      image-set(
        url("../../images/map/pins/map-pin-mobile@2x.avif") 2x type("image/avif"),
        url("../../images/map/pins/map-pin-mobile@1x.avif") 1x type("image/avif"),
        url("../../images/map/pins/map-pin-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/map/pins/map-pin-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/map/pins/map-pin-mobile@2x.png") 2x,
        url("../../images/map/pins/map-pin-mobile@1x.png") 1x,
      );
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: #{variables.$tablet-width}) {
  .contacts__address {
    text-align: end;
  }

  .contacts__map {
    min-block-size: 400px;
  }

  .contacts__map-pin::before {
    inset-block-start: -106px;
    inset-inline-start: -52px;

    inline-size: 113px;
    block-size: 106px;

    background-image:
      image-set(
        url("../../images/map/pins/map-pin-tablet@2x.avif") 2x type("image/avif"),
        url("../../images/map/pins/map-pin-tablet@1x.avif") 1x type("image/avif"),
        url("../../images/map/pins/map-pin-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/map/pins/map-pin-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/map/pins/map-pin-tablet@2x.png") 2x,
        url("../../images/map/pins/map-pin-tablet@1x.png") 1x,
      );
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .contacts {
    position: relative;

    display: grid;
    grid-template-columns: 1fr [text] 565px 655px 1fr;
    padding-block: 95px 106px;
  }

  .contacts__text {
    grid-template-columns: [welcome] 163px 1fr [address] 157px;
    grid-column: text;
    padding-inline: 80px;
    z-index: 1;
    background-color: var(--clr-white, #{variables.$clr-white});
  }

  .contacts__address {
    text-align: start;
  }

  .contacts__map {
    position: absolute;
    inset: 0;
  }
}
