@use "../common/mixins.scss";
@use "../common/variables.scss";

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include mixins.primary-font(
    $font-size: 16px,
    $line-height: 20px,
  );
  text-decoration: none;

  &::after {
    content: "";

    display: inline-block;
    inline-size: 27px;
    block-size: 34px;

    background-color: var(--clr-special-grey-2, #{variables.$clr-special-grey-2});
    mask-image: url("../../icons/stack.svg#html-academy-logo");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    mask-position: center;
    transition: background-color 100ms;
  }

  &:is(:hover, :focus, :active)::after {
    background-color: var(--clr-basic-green, #{variables.$clr-basic-green});
  }

  @supports selector(:focus-visible) {
    &:focus::after {
      background-color: var(--clr-special-grey-2, #{variables.$clr-special-grey-2});
    }

    &:is(:hover, :focus-visible, :active)::after {
      background-color: var(--clr-basic-green, #{variables.$clr-basic-green});
    }
  }

  &:active {
    filter: opacity(0.3);
  }
}
