@use "../common/mixins.scss";
@use "../common/variables.scss";

.example {
  padding-block: 25px 40px;
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
  background-color: #eaeaea;

  @include mixins.primary-font;
}

.example__title {
  margin-block: 0 40px;
}

.example__text {
  margin-block-end: 20px;
}

.example__description {
  margin-block: 0 20px;
  font-size: clamp(14px, calc(12.57px + 0.45vw), 16px);
  line-height: clamp(18px, calc(13.71px + 1.34vw), 24px);
}

.example__results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-inline-size: 367px;
  margin-block: 0 20px;
}

.example__results-item {
  min-inline-size: 124px;
}

.example__results-title {
  font-size: clamp(12px, calc(10.57px + 0.45vw), 14px);
  line-height: clamp(12px, calc(10.57px + 0.45vw), 14px);
}

.example__results-value {
  padding: 7px;
  margin: 0;

  @include mixins.secondary-font;
  font-size: clamp(24px, calc(19.71px + 1.34vw), 30px);
  line-height: clamp(24px, calc(14.71px + 2.9vw), 37px);
}

.example__price {
  margin-block: 0;

  @include mixins.secondary-font;
  font-size: clamp(14px, calc(9.71px + 1.34vw), 20px);
  line-height: 20px;
  text-align: center;
}

.example__slider {
  margin-inline: auto;
}

@media (min-width: #{variables.$tablet-width}) {
  .example {
    padding-block: 45px 101px;
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});

    background-color: initial;
    background-image: linear-gradient(to top, #eaeaea 462px, rgba(0, 0, 0, 0) 462px);
    background-repeat: no-repeat;
  }

  .example__text {
    display: grid;
    grid-template-columns: [results] fit-content(50%) auto [price] 174px;
    row-gap: 55px;
    margin-block-end: 99px;
  }

  .example__title {
    margin-block-end: 60px;
  }

  .example__description {
    grid-column: 1 / -1;
    margin-block: 0;
  }

  .example__results {
    margin-block: 0;
    grid-column: results;
  }

  .example__price {
    margin-block: 0;
    grid-column: price;
    align-self: center;
    text-align: end;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .example {
    padding-inline: 0;
    padding-block: 0;
    display: grid;
    grid-template-columns: 1fr [text] 436px 224px [slider] 560px 1fr;
    grid-template-rows: [title slider-start] auto [background-start] 70px [text] auto [slider-end] 75px [background-end];
    background: none;
  }

  .example::before {
    content: "";
    display: block;
    grid-column: 1 / -1;
    grid-row: background;
    background-color: #eaeaea;
  }

  .example__title {
    grid-column: text;
    grid-row: title;
    margin-block-end: 76px;
  }

  .example__text {
    display: block;
    grid-row: text;
    grid-column: text;
    margin-block: 0;
  }

  .example__description {
    margin-block-end: 69px;
  }

  .example__results {
    margin-block-end: 55px;
  }

  .example__price {
    text-align: start;
  }

  .example__slider {
    grid-column: slider;
    grid-row: slider;
    align-self: end;
    margin-block-start: 0;
  }
}
