@use "../common/mixins.scss";
@use "../common/variables.scss";

.extra-product {
  @include mixins.primary-font(
    $font-size: 14px,
    $line-height: 14px,
  );
}

.extra-product__title-link {
  text-decoration: none;
}

.extra-product__title {
  @include mixins.secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: var(--clr-special-dark-grey-2, #{variables.$clr-special-dark-grey-2});
}
