@use "../common/mixins.scss";
@use "../common/variables.scss";

.extra-products__title {
  margin-block: 0 35px;
}

.extra-products__list {
  margin-block: 35px;

  @include mixins.reset-list;
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
}

.extra-products__item:first-child {
  border-block-start: 1px solid var(--clr-special-grey, #{variables.$clr-special-grey});
}

.extra-products__item {
  border-block-end: 1px solid var(--clr-special-grey, #{variables.$clr-special-grey});
}

.extra-products__promo-container {
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
}

.extra-products__promo {
  --_overlay-color: rgba(var(--rgb-comps-basic-green, #{variables.$rgb-comps-basic-green}), 0.85);

  padding-block: 187px 43px;
  padding-inline: 58px 61px;
  margin: 0;

  color: var(--clr-white, #{variables.$clr-white});
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  background-image:
    url("../../icons/stack.svg#gift"),
    linear-gradient(var(--_overlay-color)),
    image-set(
      url("../../images/backgrounds/cat-in-the-bag-mobile@2x.avif") 2x type("image/avif"),
      url("../../images/backgrounds/cat-in-the-bag-mobile@1x.avif") 1x type("image/avif"),
      url("../../images/backgrounds/cat-in-the-bag-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/backgrounds/cat-in-the-bag-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/backgrounds/cat-in-the-bag-mobile@2x.jpg") 2x,
      url("../../images/backgrounds/cat-in-the-bag-mobile@1x.jpg") 1x,
    );
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 78px 80px, cover, cover;
  background-position: center 59px, center, center;
}

@media (min-width: #{variables.$tablet-width}) {
  .extra-products__title {
    margin-block: 0 80px;
  }

  .extra-products__list {
    margin-block: 0 70px;
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});
  }

  .extra-products__promo-container {
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});
  }

  .extra-products__promo {
    padding-inline: 421px 125px;
    padding-block: 71px 69px;

    text-align: start;

    background-image:
      url("../../icons/stack.svg#gift"),
      linear-gradient(var(--_overlay-color)),
      image-set(
        url("../../images/backgrounds/cat-in-the-bag-tablet@2x.avif") 2x type("image/avif"),
        url("../../images/backgrounds/cat-in-the-bag-tablet@1x.avif") 1x type("image/avif"),
        url("../../images/backgrounds/cat-in-the-bag-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/backgrounds/cat-in-the-bag-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/backgrounds/cat-in-the-bag-tablet@2x.jpg") 2x,
        url("../../images/backgrounds/cat-in-the-bag-tablet@1x.jpg") 1x,
      );
    background-position: center left 77px, center, center;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .extra-products {
    display: grid;
    grid-template-columns: 1fr [list] 895px 80px [promo] 245px 1fr;
  }

  .extra-products__title {
    grid-column: 1 / -1;
  }

  .extra-products__list {
    grid-column: list;
    padding: 0;
    margin-block-end: 0;
  }

  .extra-products__promo-container {
    grid-column: promo;
    padding: 0;
  }

  .extra-products__promo {
    padding-inline: 42px;
    padding-block: 185px 43px;

    text-align: center;

    background-image:
      url("../../icons/stack.svg#gift"),
      linear-gradient(var(--_overlay-color)),
      image-set(
        url("../../images/backgrounds/cat-in-the-bag-desktop@2x.avif") 2x type("image/avif"),
        url("../../images/backgrounds/cat-in-the-bag-desktop@1x.avif") 1x type("image/avif"),
        url("../../images/backgrounds/cat-in-the-bag-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/backgrounds/cat-in-the-bag-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/backgrounds/cat-in-the-bag-desktop@2x.jpg") 2x,
        url("../../images/backgrounds/cat-in-the-bag-desktop@1x.jpg") 1x,
      );
    background-position: center 56px, center, center;
  }
}
