@use "../common/mixins.scss";

.feature {
  background-color: var(--clr-basic-grey);
  padding-inline: 20px 33px;
  padding-block: 30px 18px;
}

.feature__title {
  @include mixins.secondary-font;
  padding-inline-start: 70px;

  font-size: 24px;
  line-height: 37px;
}

.feature__description {
  @include mixins.primary-font;
}

.feature__follow {
  @include mixins.secondary-font;
  padding-block: 4px;

  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}
