@use "../common/mixins.scss";

.field-group {
  padding: 0;
  margin: 0;

  border: 0;
  border-block-start: 2px solid var(--clr-basic-green);
}

.field-group__list {
  @include mixins.reset-list;

  padding-inline: var(--padding-mobile);
}
