@use "../common/mixins.scss";
@use "../common/variables.scss";

.hero {
  --_overlay-color: rgba(var(--rgb-comps-basic-green, #{variables.$rgb-comps-basic-green}), 0.85);

  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
  padding-block-start: 27px;
  background-image:
    linear-gradient(
      to bottom,
      var(--_overlay-color) calc(63% + 1px),
      rgba(0, 0, 0, 0) calc(63% + 1px)
    ),
    image-set(
      url("../../images/backgrounds/cat-background-mobile@2x.avif") 2x type("image/avif"),
      url("../../images/backgrounds/cat-background-mobile@1x.avif") 1x type("image/avif"),
      url("../../images/backgrounds/cat-background-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/backgrounds/cat-background-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/backgrounds/cat-background-mobile@2x.jpg") 2x,
      url("../../images/backgrounds/cat-background-mobile@1x.jpg") 1x,
    ),
    linear-gradient(to right, #4e4d53 calc(50% - 160px), #454449 calc(50% + 160px));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, auto 63%, auto 63%;
  background-position: center, center top, center top;
}

.hero__page-heading {
  padding-inline: clamp(15px, calc(17vw - 40px), 90px);
}

.hero__page-title {
  margin-block: 0 clamp(25px, 6vw, 40px);
}

.hero__product-slogan {
  margin-block: 21px;

  @include mixins.secondary-font;
  font-size: clamp(14px, 3vw, 20px);
  line-height: clamp(14px, 3vw, 20px);
  color: var(--clr-white, #{variables.$clr-white});
  text-align: center;
}

.hero__image {
  display: block;
  inline-size: 100%;
  object-fit: contain;
}

@media (min-width: variables.$tablet-width) {
  .hero {
    display: grid;
    grid-template-columns: clamp(80px, calc(103px - 1.5vw), 90px) 224px 1fr clamp(80px, calc(103px - 1.5vw), 90px);
    padding-block-start: 65px;
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});

    background: none;
  }

  .hero__page-heading {
    padding-inline: 0;
    inline-size: 416px;
    grid-column: 2 / -1;
  }


  .hero__product-slogan {
    margin-block: 21px;

    color: var(--clr-black, #{variables.$clr-black});
    text-align: start;
  }

  .hero__image-container {
    grid-row: 2 / 4;
    grid-column: 1 / -1;
  }

  .hero__button {
    grid-row: 2;
    grid-column: 2;
    margin-block: 29px;
  }
}

@media (min-width: variables.$desktop-width) {
  .hero {
    grid-template-columns: 80px 224px 143px 47px 1fr 80px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, var(--_overlay-color) 50%);
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__page-heading {
    grid-row: 1;
    grid-column: 2 / 5;
  }

  .hero__image-container {
    grid-column: 4 / -2;
    grid-row: 1 / 4;
    justify-self: start;
  }
}
