@use "../common/variables.scss";

.page-footer__end {
  box-sizing: border-box;
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
  padding-block: 40px;

  background-color: var(--clr-basic-grey, #{variables.$clr-basic-grey});
}

.page-footer__logo {
  margin-block-end: 20px;
}

.page-footer__socials {
  border-block: 1px solid #d9d9d9;
  margin-block-end: 20px;
}

.page-footer__copyright {
  min-inline-size: 163px;
  max-inline-size: 280px;
  margin-inline: auto;
}

@media (min-width: #{variables.$tablet-width}) {
  .page-footer__end {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 55px;
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});
    max-inline-size: var(--desktop-width, #{variables.$desktop-width});
    margin-inline: auto;
  }

  .page-footer__logo {
    justify-self: start;
    margin: 0;
  }

  .page-footer__socials {
    justify-self: center;
    border-block: 0;
    margin: 0;
  }

  .page-footer__copyright {
    justify-self: end;
    margin-inline: 0;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .page-footer {
    background-color: var(--clr-basic-grey, #{variables.$clr-basic-grey});
  }

  .page-footer__end {
    padding-block: 65px 55px;
  }
}
