@use "../common/mixins.scss";
@use "../common/variables.scss";

.products {
  padding-block: 25px;
}

.products__list {
  @include mixins.reset-list;
  margin: 0;
  border-block-start: 1px solid var(--clr-special-grey-2, #{variables.$clr-special-grey-2});
}

.products__item,
.products__more-card {
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
  border-block-end: 1px solid var(--clr-special-grey-2, #{variables.$clr-special-grey-2});
}

.products__more-card {
  --cross-size: 30px;

  position: relative;

  padding-block: 80px 25px;

  @include mixins.primary-font(
    $font-size: 12px,
    $line-height: 16px,
  );
}

.products__more-card::before,
.products__more-card::after {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 40px;

  display: block;
  inline-size: var(--cross-size);
  block-size: 2px;
  margin-block-start: -1px;
  margin-inline-start: calc(-1 * var(--cross-size) / 2);

  background-color: #d3d3d3;
}

.products__more-card::before {
  transform: rotate(90deg);
}

.products__more-title {
  margin-block: 8px;

  @include mixins.secondary-font;
  font-size: clamp(16px, calc(13.14px + 0.89vw), 20px);
  line-height: clamp(20px, calc(17.14px + 0.89vw), 24px);
  text-align: center;
}

.products__more-description {
  margin-block: 8px;

  font-size: clamp(12px, calc(9.14px + 0.89vw), 16px);
  line-height: clamp(16px, calc(14.57px + 0.45vw), 18px);
  text-align: center;
}

@media (min-width: #{variables.$tablet-width}) {
  .products {
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});
    padding-block: 74px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    border: 0;
  }

  .products__item {
    border: 0;
  }

  .products__more-card {
    --cross-size: 60px;

    padding-block: 160px 40px;
    padding-inline: 37px;
    align-self: end;

    border: 2px solid #f2f2f2;
  }

  .products__more-card::before,
  .products__more-card::after {
    inset-block-start: 80px;
  }

  .products__more-title {
    padding-inline: 40px;
    margin-block: 0 23px;
  }

  .products__more-description {
    padding-inline: 40px;
    margin-block: 23px 82px;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .products {
    display: grid;
    grid-template-columns: 1fr [content] 1220px 1fr;
    padding-inline: 0;
    padding-block: 71px;
  }

  .products__list {
    grid-column: content;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }

  .products__more-card {
    padding-block: 150px 40px;
    padding-inline: 38px;
  }

  .products__more-title {
    padding-inline: 0;
    margin-block: 0 20px;
  }

  .products__more-description {
    padding-inline: 0;
    margin-block: 20px 90px;
  }
}
