@use "../common/mixins.scss";
@use "../common/variables.scss";

.products {
  padding-block: 25px;
}

.products__list {
  @include mixins.reset-list;
  margin: 0;
  border-block-start: 1px solid var(--clr-special-grey-3, #{variables.$clr-special-grey-3});
}

.products__item,
.products__more-card {
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
  border-block-end: 1px solid var(--clr-special-grey-3, #{variables.$clr-special-grey-3});
}

.products__more-card {
  --cross-size: 30px;

  position: relative;

  padding-block: 71px 25px;

  @include mixins.primary-font(
    $font-size: 12px,
    $line-height: 16px,
  );

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 40px;

    display: block;
    inline-size: var(--cross-size);
    block-size: 2px;
    margin-block-start: -1px;
    margin-inline-start: calc(-1 * var(--cross-size) / 2);

    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.products__more-title {
  margin-block: 8px;

  @include mixins.secondary-font;
  font-size: clamp(16px, calc(13.14px + 0.89vw), 20px);
  line-height: clamp(20px, calc(17.14px + 0.89vw), 24px);
  text-align: center;
}

.products__more-description {
  margin-block: 0 21px;

  font-size: clamp(12px, calc(9.14px + 0.89vw), 16px);
  line-height: clamp(16px, calc(14.57px + 0.45vw), 18px);
  text-align: center;
}

@media (min-width: #{variables.$tablet-width}) {
  .products {
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});
    padding-block: 74px;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;

    border: 0;
  }

  .products__item {
    border: 0;
  }

  .products__more-card {
    --cross-size: 60px;

    display: flex;
    flex-direction: column;
    padding-block: 242px 40px;
    padding-inline: 37px;

    background-image:
      linear-gradient(
        to right,
        var(--clr-basic-grey, #{variables.$clr-basic-grey}) 2px,
        rgba(0, 0, 0, 0) 2px,
        rgba(0, 0, 0, 0) calc(100% - 2px),
        var(--clr-basic-grey, #{variables.$clr-basic-grey}) calc(100% - 2px),
      ),
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 81px,
        var(--clr-basic-grey, #{variables.$clr-basic-grey}) 81px,
        var(--clr-basic-grey, #{variables.$clr-basic-grey}) 83px,
        rgba(0, 0, 0, 0) 83px,
        rgba(0, 0, 0, 0) calc(100% - 2px),
        var(--clr-basic-grey, #{variables.$clr-basic-grey}) calc(100% - 2px),
      );
    background-repeat: no-repeat, no-repeat;
    background-position: top 81px center, center;
    border: 0;

    &::before,
    &::after {
      inset-block-start: 160px;
    }
  }

  .products__more-title {
    padding-inline: 40px;
    margin-block: 0 23px;
  }

  .products__more-description {
    padding-inline: 40px;
    margin-block-end: 82px;
  }

  .products__more-button {
    margin-block-start: auto;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .products {
    display: grid;
    grid-template-columns: 1fr [content] 1220px 1fr;
    padding-inline: 0;
    padding-block: 70px;
  }

  .products__list {
    grid-column: content;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }

  .products__more-card {
    padding-block: 230px 40px;
    padding-inline: 38px;
  }

  .products__more-title {
    padding-inline: 0;
    margin-block-end: 25px;
  }

  .products__more-description {
    padding-inline: 0;
    margin-block-end: 90px;
  }
}
