@use "../common/mixins.scss";
@use "../common/variables.scss";

.product-description {
  @include mixins.primary-font(
    $font-size: clamp(12px, calc(9.14px + 0.89vw), 16px),
    $line-height: clamp(16px, calc(13.14px + 0.89vw), 20px),
  );
}

.product-description__item {
  display: flex;
  justify-content: space-between;
}

.product-description__value {
  margin: 0;
}

@media (min-width: #{variables.$tablet-width}) {
  .product-description__item {
    padding-block: 7px 5px;
    border-block-end: 1px solid var(--clr-special-grey, #{variables.$clr-special-grey});
  }
}
