@use "../common/variables.scss";

.slider {
  --slider-state: 0.5;
  --_slider-state: clamp(0, var(--slider-state), 1);

  position: relative;

  contain: size;

  @supports (container-type: inline-size) {
    container-type: inline-size;
  }
}

.slider__image-container {
  position: absolute;
  inset: 0;
}

.slider__image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.slider__image--before {
  clip-path: inset(0 calc(100% - var(--_slider-state) * 100%) 0 0);
}

.slider__image--after {
  clip-path: inset(0 0 0 calc(var(--_slider-state) * 100%));
}

.slider__thumb {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--_slider-state) * 100% - 2px);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  block-size: 100%;
  inline-size: 4px;

  border: 0;
  background-color: var(--clr-special-grey-2, #{variables.$clr-special-grey-2});
  border-radius: 2px;

  cursor: ew-resize;
  transition: background 100ms;
  touch-action: none;

  @supports (transform: translateX(1cqw)) {
    inset-inline-start: -2px;
    transform: translateX(calc(var(--_slider-state) * 100cqw));
  }
}

.slider__thumb::after {
  content: "";

  display: block;
  min-inline-size: 40px;
  min-block-size: 40px;
  background-color: var(--clr-special-grey-2, #{variables.$clr-special-grey-2});
  background-image: url("../../icons/stack.svg#thumb");
  background-size: 40px 40px;
  background-repeat: no-repeat;

  border-radius: 50%;
  transition: background 100ms;
}

.slider__thumb:not(:disabled):is(:hover, :focus, :active),
.slider__thumb:not(:disabled):is(:hover, :focus, :active)::after {
  background-color: var(--clr-basic-green, #{variables.$clr-basic-green});
}

@supports selector(:focus-visible) {
  .slider__thumb:not(:disabled):is(:hover, :focus, :active),
  .slider__thumb:not(:disabled):is(:hover, :focus, :active)::after {
    background-color: var(--clr-special-grey-2, #{variables.$clr-special-grey-2});
  }

  .slider__thumb:not(:disabled):is(:hover, :focus-visible, :active),
  .slider__thumb:not(:disabled):is(:hover, :focus-visible, :active)::after {
    background-color: var(--clr-basic-green, #{variables.$clr-basic-green});
  }
}

.slider__thumb:not(:disabled):active {
  filter: opacity(0.6);
}

.slider__thumb:disabled {
  filter: opacity(0.6);
  cursor: default;
}
