@use "../common/mixins.scss";
@use "../common/variables.scss";

.subscription__description {
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});

  @include mixins.secondary-font(
    $text-transform: none,
  );
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
