@use "../common/mixins.scss";
@use "../common/variables.scss";

.subscription {
  padding-block: 40px 42px;
}

.subscription__title {
  margin-block: 0 32px;
}

.subscription__description {
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});
  margin-block: 24px;

  @include mixins.secondary-font(
    $text-transform: none,
  );
  font-size: clamp(16px, calc(10.29px + 1.79vw), 24px);
  line-height: clamp(24px, calc(18.29px + 1.79vw), 32px);
  text-align: center;
}

@media (min-width: #{variables.$tablet-width}) {
  .subscription {
    padding-block: 80px;
    display: grid;
    grid-template-columns:
      clamp(68px, calc(-247.43px + 41.07vw), 344px)
      [content] 1fr
      clamp(68px, calc(-247.43px + 41.07vw), 344px);
  }

  .subscription__title {
    margin-block-end: 66px;
    grid-column: 1 / -1;
  }

  .subscription__description {
    padding-inline: 0;
    margin-block-start: 0;
    grid-column: content;
  }

  .subscription__form {
    grid-column: content;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .subscription {
    padding-block: 96px 104px;
    grid-template-columns: 1fr [content] 752px 1fr;
  }

  .subscription__title {
    margin-block-end: 72px;
  }
}
