@use "../common/mixins.scss";
@use "../common/variables.scss";

.subtitle {
  display: grid;
  grid-template-columns: clamp(20px, calc(-15.71px + 11.16vw), 70px) auto minmax(20px, 1fr);

  @include mixins.secondary-font(
    $text-transform: none,
  );
  font-size: clamp(24px, calc(18.29px + 1.79vw), 32px);
  line-height: clamp(24px, calc(18.29px + 1.79vw), 32px);

  &::before,
  &::after {
    content: "";
    display: block;

    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        var(--clr-basic-green, #{variables.$clr-basic-green}) calc(50% - 1px),
        var(--clr-basic-green, #{variables.$clr-basic-green}) calc(50% + 1px),
        rgba(0, 0, 0, 0) calc(50% + 1px),
      );
    background-repeat: no-repeat;
  }

  &::before {
    background-position-x: -40px;
  }

  &::after {
    background-position-x: 40px;
  }

  @media (min-width: #{variables.$tablet-width}) {
    grid-template-columns: clamp(70px, calc(24.29px + 5.95vw), 110px) auto minmax(40px, 1fr);

    font-size: clamp(32px, calc(22.86px + 1.19vw), 40px);
    line-height: clamp(32px, calc(22.86px + 1.19vw), 40px);
  }

  @media (min-width: #{variables.$desktop-width}) {
    grid-template-columns:
      calc((100% - var(--desktop-width, #{variables.$desktop-width})) / 2 + 110px)
      auto
      minmax(calc((100% - var(--desktop-width, #{variables.$desktop-width})) / 2 + 110px), 1fr);
  }
}
