@use "../common/mixins.scss";
@use "../common/variables.scss";

.subtitle {
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});

  @include mixins.secondary-font(
    $text-transform: none,
  );
  font-size: clamp(24px, calc(18.29px + 1.79vw), 32px);
  line-height: clamp(24px, calc(18.29px + 1.79vw), 32px);
}

@media (min-width: #{variables.$tablet-width}) {
  .subtitle {
    padding-inline: var(--padding-tablet, #{variables.$padding-tablet});

    font-size: clamp(32px, calc(22.86px + 1.19vw), 40px);
    line-height: clamp(32px, calc(22.86px + 1.19vw), 40px);
  }
}
