@use "../common/mixins.scss";
@use "../common/variables.scss";

.subtitle {
  margin-block: 0;
  padding-inline: var(--padding-mobile, #{variables.$padding-mobile});

  @include mixins.secondary-font(
    $text-transform: none,
  );
  font-size: 24px;
  line-height: 24px;
}
