@use "../common/mixins.scss";
@use "../common/variables.scss";

.text-field {
  position: relative;

  display: grid;
  grid-template-columns: [label] auto [input] minmax(50%, 1fr);
  align-items: center;

  @include mixins.secondary-font(
    $color: var(--clr-special-dark-grey, #{variables.$clr-special-dark-grey}),
  );
  font-size: clamp(16px, calc(13.14px + 0.89vw), 20px);
  line-height: clamp(18px, calc(16.57px + 0.45vw), 20px);
}

.text-field__label {
  grid-column: label;
  grid-row: 1;
  margin-inline-end: 13px;
}

.text-field__input {
  grid-column: input;
  align-self: start;
  padding-block: 13px 12px;
  padding-inline: 14px;

  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;
  line-height: inherit;

  border: 1px solid #e7e7e7;
  border-radius: 0;

  &:hover {
    border-color: var(--clr-special-grey, #{variables.$clr-special-grey});
  }

  &:focus,
  &:focus-visible {
    outline: rgba(0, 0, 0, 0);
  }

  &:focus {
    border-color: var(--clr-special-dark-grey, #{variables.$clr-special-dark-grey});
    box-shadow: inset 0 0 0 1px var(--clr-special-dark-grey, #{variables.$clr-special-dark-grey});
  }

  &:user-invalid {
    border-color: var(--clr-status-error, #{variables.$clr-status-error});
    box-shadow: inset 0 0 0 1px var(--clr-status-error, #{variables.$clr-status-error});
  }

  &:disabled,
  &:disabled ~ .text-field__label {
    border-color: #e7e7e7;
    opacity: 0.3;
  }
}

:is(.text-field__input--email, .text-field__input--phone) {
  padding-inline: 14px 46px;
}

:is(.text-field__input--email, .text-field__input--phone) ~ .text-field__label::before {
  content: "";

  position: absolute;
  inset-inline-end: 12px;
  inset-block-start: clamp(13px, calc(10.86px + 0.67vw), 16px);

  display: block;
  min-block-size: 20px;
  min-inline-size: 20px;

  background-color: var(--clr-special-dark-grey-2, #{variables.$clr-special-dark-grey-2});
  mask-repeat: no-repeat;
  mask-position: center;
}

.text-field__input--email ~ .text-field__label::before {
  mask-image: url("../../icons/stack.svg#email");
}

.text-field__input--phone ~ .text-field__label::before {
  mask-image: url("../../icons/stack.svg#phone");
}

:is(.text-field__input--email, .text-field__input--phone):focus ~ .text-field__label::before {
  background-color: var(--clr-basic-green, #{variables.$clr-basic-green});
}

:is(.text-field__input--email, .text-field__input--phone):user-invalid ~ .text-field__label::before {
  background-color: var(--clr-status-error, #{variables.$clr-status-error});
}

.text-field--large {
  font-size: 20px;
  line-height: 20px;
}

.text-field--large .text-field__input {
  padding: 12px;
}

@media (min-width: #{variables.$tablet-width}) {
  .text-field__input {
    padding-block: 10px;
    padding-inline: 19px;
  }

  :is(.text-field__input--email, .text-field__input--phone) {
    padding-inline: 19px 55px;
  }

  :is(.text-field__input--email, .text-field__input--phone) ~ .text-field__label::before {
    inset-inline-end: 16px;
  }
}
