@use "../common/mixins.scss";
@use "../common/variables.scss";

.text-field {
  display: flex;
  align-items: center;

  @include mixins.secondary-font(
    $color: var(--clr-special-dark-grey, #{variables.$clr-special-dark-grey}),
  );
  font-size: 16px;
  line-height: 18px;
}

.text-field__label {
  margin-inline-end: 13px;
}

.text-field__input {
  flex-grow: 1;
  padding-block: 10px;
  padding-inline: 20px;

  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;

  border: 1px solid #e7e7e7;
  border-radius: 0;

  &:hover {
    border-color: var(--clr-special-grey, #{variables.$clr-special-grey});
  }

  &:focus,
  &:focus-visible {
    outline: rgba(0, 0, 0, 0);
  }

  &:focus {
    border-color: var(--clr-special-dark-grey, #{variables.$clr-special-dark-grey});
    box-shadow: inset 0 0 0 1px var(--clr-special-dark-grey, #{variables.$clr-special-dark-grey});
  }

  &:user-invalid {
    border-color: var(--clr-status-error, #{variables.$clr-status-error});
    box-shadow: inset 0 0 0 1px var(--clr-status-error, #{variables.$clr-status-error});
  }
}

.text-field--large {
  font-size: 20px;
  line-height: 20px;
}

.text-field--large .text-field__input {
  padding: 13px;
}
